<div class="text-center">
    <h1>About this site</h1>
    <h2>What's for dinner is a simple application to suggest dinner ideas. Add a few dinners below, then try it out.</h2>
    <p>The <a href="https://github.com/joshpeterson/WhatsForDinner">code</a> for this site is open source software. Check it out!</p>
</div>
