<h1><%= @dinner.text %></h1>
<h2>Are you sure you want to delete this dinner?</h2>
<p>
<form action="/dinner/<%= @dinner.id %>" method="post">
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="Delete">
 or <a href="/dinners">Cancel</a>
</form>
</p>
