<h1><%= @dinner.text %></h1>
<h2>Are you sure you want to delete this dinner?</h2>
<p>
    <form action="/dinner/<%= @dinner.id %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" class="btn btn-danger"><span class="fa fa-trash-o fa-lg"></span> Yes, delete it</button>
         or <a class="btn btn-default" href="/dinners">No, get me out of here</a>
    </form>
</p>
