<h1>All Dinners</h1>
<% unless @dinners.empty? %>
<% @dinners.each do |dinner| %>
<%= dinner.text %> (<a href="/dinner/<%= dinner.id %>/delete">Delete</a>)
<br/>
<% end %>
<% else %>
<p>No dinners! - Why not add one?</p>
<% end %>

