<% unless @dinners.empty? %>
<h1>All Dinners</h1>
<table class="table table-hover">
    <% @dinners.each do |dinner| %>
        <tr>
            <td align="center"><%= dinner.text %></td><td align="right"><a class="btn btn-danger" href="/dinner/<%= dinner.id %>/delete"><span class="fa fa-trash-o fa-lg"></span> Delete</a></td>
        </tr>
    <% end %>
</table>
<% else %>
    <p><h2>You have no dinners! Why not add one?</h2></p>
<% end %>
