<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <title>What's for dinner?</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/jumbtron-narrow.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">What's for dinner?</h3>
      </div>

      <div class="jumbotron text-center">
        <%= yield %>
      </div>

      <form class="form-horizontal" role="form" action="/dinner/create" method="POST">
          <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Try something new</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="text" id="text" placeholder="A new dinner">
            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success"><span class="fa fa-plus fa-lg"></span> Add this dinner</button>
              </div>
          </div>
      </form>

      <div class="text-center">
          <div>
              <a class="btn btn-primary" href="/">Suggest another dinner</a>
              <a class="btn btn-primary" href="/dinners">All dinners</a>
          </div>
          <br/>
          <div>
              <a class="btn btn-primary" href="/about">About</a>
              <% if logged_in? %>
                <a class="btn btn-primary" href="/logout">Log out</a>
              <% else %>
                <a class="btn btn-primary" href="/login">Log in</a>
              <% end %>
          </div>
      </div>

      <br/>

      <div class="footer text-center">
          <p>&copy; <a href="http://joshpeterson.github.io">Josh Peterson</a> 2014</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>

