<!DOCTYPE html>
<html lang="en">
<head>
<title>What's for Dinner?</title>
<meta charset=utf-8 />
<link rel="stylesheet" href="/style.css" type="text/css" /> 
</head>
<body>
<center>

<%= yield %>

<p>
<div>Try something new</div>
<form action="/dinner/create" method="POST">
  <input type="text" name="text" id="text">
  <br/>
  <input type="submit" value="Add Dinner"/>
</form>
</p>

<a href='/'>Home</a> | 
<a href='/dinners'>All Dinners</a> | 
<% if logged_in? %>
<a href="/logout">Log out</a>
<% else %>
<a href="/login">Log in</a>
<% end %>
</center>
</body>
</html>

