<script type="text/javascript">
function googleLogin()
{
  document.forms["login"].elements["openid_identifier"].value = "https://www.google.com/accounts/o8/id";
  document.forms["login"].submit();
}
</script>

<h2><a href="javascript: googleLogin()">Log in with Google</a></h2>
<p>or</p>
<form name="login" class="openid_login" method="post" accept-charset="UTF-8" action='/login/openid'>
  <p><label for="openid_identifier">Log in with OpenID:</label></p>
  <input type="text" name="openid_identifier" style="background: url(http://openid.net/images/login-bg.gif) no-repeat #FFF 5px; padding-left: 25px;"/>    
  <p><input type="submit" value="Login" /></p>
</form>
<p><a href="http://openid.net/get/">What is OpenID?</a></p>

