<script type="text/javascript">
function googleLogin()
{
  document.forms["login"].elements["openid_identifier"].value = "https://www.google.com/accounts/o8/id";
  document.forms["login"].submit();
}
</script>

<h2>
    <a class="btn btn-danger" href="javascript: googleLogin()"><span class="fa fa-google fa-lg"></span> Log in with Google</a>
</h2>
<p>or</p>
<form name="login" class="openid_login" method="post" accept-charset="UTF-8" action='/login/openid'>
    <p><label for="openid_identifier">Log in with another <a href="http://openid.net/get/">OpenID</a> provider:</label></p>
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-openid fa-fw"></i></span>
        <input class="form-control" type="text" name="openid_identifier" placeholder="OpenID address">
    </div>
    <br/>
    <p><button type="submit" class="btn btn-default" value="Login">Login</button></p>
</form>

