body
{
    font-size:250%;
    font-family:Verdana, Geneva, sans-serif;
    background-color:LightSteelBlue;
}

input
{
    font-size:150%;
    font-family:Verdana, Geneva, sans-serif;
}

#dinner
{
    background-color:Gainsboro;
    width:40%;
    padding:1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
